@import "tailwindcss";

@theme {
    --color-new-blue-300: #00abf0;
    --color-new-bg-color: #081b29;
    --color-new-text-color: #ededed;
}

@layer components {
    @keyframes appear {
        from {
            opacity: 0;
            transform: translateX(-10px)
            /* clip-path: inset(100% 100% 0 0); */
        }
        to {
            opacity: 1;
            transform: translateX(0px)
            /* clip-path: inset(0 0 0 0); */
        }
    }
    .listEle {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
}